:root {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;

  /* Primary */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    145deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --padding: 20px 24px;
}

:root[data-theme='light'] {
  /* Light Theme */
  --body-bg: hsl(0, 0%, 98%);
  --card-bg: hsl(0, 0%, 100%);
  --color-text: hsl(235, 19%, 35%);
  --color-text-hover: hsl(235, 19%, 35%);
  --color-text-disabled: hsl(236, 9%, 61%);
  --color-text-line-through: hsl(233, 11%, 84%);
  --border-color: hsl(235, 32%, 92%);
  --img-toggle: url('../assets/images/icon-moon.svg');
  --img-bg: url('../../public/bg-desktop-light.jpg');
  --img-bg-mobile: url('public/bg-mobile-light.jpg');
}

:root[data-theme='dark'] {
  /* Dark Theme */
  --body-bg: hsl(235, 21%, 11%);
  --card-bg: hsl(235, 24%, 19%);
  --color-text: hsl(234, 39%, 85%);
  --color-text-hover: hsl(236, 33%, 92%);
  --color-text-disabled: hsl(234, 11%, 52%);
  --color-text-line-through: hsl(233, 14%, 35%);
  --border-color: hsl(237, 14%, 26%);
  --img-toggle: url('../assets/images/icon-sun.svg');
  --img-bg: url('../../public/bg-desktop-dark.jpg');
  --img-bg-mobile: url('public/bg-mobile-dark.jpg');
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  min-width: 0;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
